In [1]:
# strings
str1 = input("Enter a name")
str2= input("Enter a name")
fullname= str1 + str2
print(fullname)

Enter a name Jyothi
Enter a name  Bitra

Jyothi Bitra

In [2]:
# float datatype sample
n1 = float(input("Enter a float value"))
n2 = float(input("Enter a float value"))
print("division",n1/n2)

Enter a float value 20
Enter a float value 2

division 10.0

In [4]:
# string sample operations
s = str(input("Enter a string"))
print(s)
print(len(s))
print(s.upper())
print(s.lower())
print(s[1:3])
print(s[: : -1])

Enter a string india

india
5
INDIA
india
nd
aidni

In [5]:
# string sample operations
s = str(input("Enter a string"))
print(s)
print(len(s))
print(s.upper())
print(s.lower())
print(s[2:4])
print(s[: : -2])

Enter a string india

india
5
INDIA
india
di
adi

In [6]:
#list operations
fruits = ['apple','kiwi','orange']
print(fruits)
print('apple' in fruits)
print("insert:")
fruits.append('bananna')
print(fruits)
print("delete")
fruits.remove('apple')
print(fruits)
print(fruits[0])
print(fruits[-3])

['apple', 'kiwi', 'orange']
True
insert:
['apple', 'kiwi', 'orange', 'bananna']
delete
['kiwi', 'orange', 'bananna']
kiwi
kiwi